<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid ">
    <div class="navbar-brand me-5">
      <a href="#">
        <img alt="music-logo"
             src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ab52da00-71c2-4ae2-bc2a-3b28214b02c9/df5ivtx-eadd298a-d7bd-474b-8a5c-ac25ae236089.png/v1/fill/w_1280,h_1280/music_band_logo_design__song_logo_design_png__by_rahatislam11_df5ivtx-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTI4MCIsInBhdGgiOiJcL2ZcL2FiNTJkYTAwLTcxYzItNGFlMi1iYzJhLTNiMjgyMTRiMDJjOVwvZGY1aXZ0eC1lYWRkMjk4YS1kN2JkLTQ3NGItOGE1Yy1hYzI1YWUyMzYwODkucG5nIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.stwNmQZaDjjAVXsG4piJptiaoHLXKAsIMa3SAWCoV_c" class=""
             style="width: 40px">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="flex-grow-1">
        <app-search-box></app-search-box>
      </div>

      <ul class="navbar-nav pe-3 d-flex justify-content-center align-items-center gap-5">
        <li class="nav-item">
          <img src="https://static.vecteezy.com/system/resources/thumbnails/019/900/322/small/happy-young-cute-illustration-face-profile-png.png" alt="profile"
               class="rounded-circle" style="width: 30px">
        </li>

        <li class="nav-item d-grid" style="place-items: center">
          <i class="fa-solid fa-bell fs-5"></i>
        </li>

        <li class="nav-item d-grid">
          <i class="fa-solid fa-comment fs-5"></i>
        </li>

      </ul>
    </div>
  </div>
</nav>
