<div class="mx-0 px-0">
  <div class="profile-background border-bottom border-3 border-success text-white d-grid" style="place-items: center">
    <div class="border border-4 border-success rounded-circle pt-3">
      <img src="https://static.vecteezy.com/system/resources/thumbnails/019/900/322/small/happy-young-cute-illustration-face-profile-png.png" alt="profile"
           class="rounded-circle d-block" style="">
    </div>
    <p class="mb-0 fw-bold">Abe Shake Kumar</p>
    <p class="w-50 text-secondary text-center">I am a music love, web developer and front end themer from Lisbon Portugal, I love travelling, playing drums and surfing</p>
  </div>

  <div class=" detail row container mt-2 py-2" style="font-size: 0.8rem">
    <div class="col-2 d-flex flex-column gap-0">
      <p class="text-secondary">Birth Date</p>
      <p>11 / 11 / 1998</p>
    </div>

    <div class="col-2">
      <p class="text-secondary">Nationality</p>
      <p class="d-flex gap-2 align-items-center ">
        <i class="text-secondary fa-solid fa-language"></i>
        <span>Myanmar</span>
      </p>
    </div>

    <div class="col-3">
      <p class="text-secondary">Rating</p>
      <div class="d-flex gap-1">
        <p>5.0</p>
        <div class="">
          <i class="fa-regular fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
        </div>
      </div>
    </div>

    <div class="col-5">
      <button class="btn btn-success rounded-pill float-end px-5" style="font-size: 0.8rem">Start Searching</button>
    </div>


  </div>

  <div class="main bg-body-secondary  p-3 row mx-0 overflow-y-scroll">
    <div class="col-8 d-flex flex-column gap-4">
      <app-favourite-list></app-favourite-list>
      <app-friends></app-friends>
    </div>
    <div class="col-4 d-flex flex-column gap-3">
      <app-following-artists></app-following-artists>
      <app-share-profile></app-share-profile>
      <app-latest-chat></app-latest-chat>
    </div>
  </div>

</div>


