<div class="bg-transparent">
  <div style="font-size: 0.7rem" class="text-center">
    <img src="https://yt3.googleusercontent.com/ytc/AIf8zZT26ptVRLOGSmtUb3j99i5bOJfLmamqxhYgQdghqg=s900-c-k-c0x00ffffff-no-rj"
         class="img-thumbnail" alt="album logo">
    <p class="mt-2 text-secondary fw-bold">Random Name</p>
    <p class="text-secondary w-75 mx-auto mt-2">Tonight is the deal Tot on fire</p>

    <div class="d-flex justify-content-center align-items-center mt-2">
      <div class="d-flex align-items-center gap-1">
        <p class="fw-bold">5.0</p>
        <div class="d-flex text-success">
          <i class="fa-regular fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
        </div>
      </div>
    </div>
  </div>
</div>
