<div class="position-relative text-light d-flex flex-column align-items-start text-secondary py-3" style="height: 90vh; background: #2A2A2A; font-size: 0.8rem">
  <a routerLink="/profile">
    <div class="d-flex gap-3 align-items-center ms-3 py-2">
      <div class="d-flex justify-content-center align-items-center">
        <img src="https://static.vecteezy.com/system/resources/thumbnails/019/900/322/small/happy-young-cute-illustration-face-profile-png.png" alt="profile"
             class="rounded-circle d-block" style="width: 30px">
      </div>
      <span>Abe Shake Kumar</span>
    </div>
  </a>


  <a routerLink="/dashboard">
    <div class="d-flex gap-4 align-items-center ms-4 py-2">
      <div class="d-flex justify-content-center align-items-center">
        <i class="fa-solid fa-hard-drive"></i>
      </div>
      <span>Dashboard</span>
    </div>
  </a>

  <a routerLink="/artist">
    <div class="d-flex gap-4 align-items-center ms-4 py-2">
      <div class="d-flex justify-content-center align-items-center">
        <i class="fa-solid fa-headphones"></i>
      </div>
      <span>Artist</span>
    </div>
  </a>


  <a routerLink="/album">
    <div class="d-flex gap-4 align-items-center ms-4 py-2">
      <div class="d-flex justify-content-center align-items-center">
        <i class="fa-solid fa-chart-simple"></i>
      </div>
      <span>Album</span>
    </div>
  </a>

  <a routerLink="/genres">
    <div class="d-flex gap-4 align-items-center ms-4 py-2">
      <div class="d-flex justify-content-center align-items-center">
        <i class="fa-solid fa-radio"></i>
      </div>
      <span>Genres</span>
    </div>
  </a>


  <div (click)="showPages()" class="d-flex gap-4 align-items-center ms-4 py-2" style="cursor: pointer; color: darkgray">
    <div class="d-flex justify-content-center align-items-center">
      <i class="fa-solid fa-file"></i>
    </div>
    <span>Pages</span>
  </div>

  <div *ngIf="isShowPages">
    <a routerLink="/pages/login">
      <div class="d-flex gap-4 align-items-center ms-5 py-2">
        <div class="d-flex justify-content-center align-items-center">
          <i class="fa-brands fa-stumbleupon-circle"></i>
        </div>
        <span>Sign in</span>
      </div>
    </a>

    <a routerLink="/pages/signup">
      <div class="d-flex gap-4 align-items-center ms-5 py-2">
        <div class="d-flex justify-content-center align-items-center">
          <i class="fa-brands fa-stumbleupon-circle"></i>
        </div>
        <span>Sign up</span>
      </div>
    </a>

    <a routerLink="/pages/reset-password">
      <div class="d-flex gap-4 align-items-center ms-5 py-2">
        <div class="d-flex justify-content-center align-items-center">
          <i class="fa-brands fa-stumbleupon-circle"></i>
        </div>
        <span>Reset password</span>
      </div>
    </a>

    <a routerLink="/pages/contact">
      <div class="d-flex gap-4 align-items-center ms-5 py-2">
        <div class="d-flex justify-content-center align-items-center">
          <i class="fa-brands fa-stumbleupon-circle"></i>
        </div>
        <span>Contact</span>
      </div>
    </a>
  </div>

  <div class="d-flex flex-column ms-4 mt-4 ">
    <p class="text-secondary fw-bold" style="font-size: 0.9rem">Your Playlist</p>

    <a routerLink="/your-playlist/create-a-playlist">
      <div class="d-flex gap-4 py-2 align-items-center">
        <div class="d-flex justify-content-center align-items-center">
          <i class="fa-solid fa-circle-plus"></i>
        </div>
        <span>Create a playlist</span>
      </div>
    </a>

    <a routerLink="/your-playlist/greatest-hits">
      <div class="d-flex gap-4 py-2 align-items-center">
        <div class="d-flex justify-content-center align-items-center">
          <i class="fa-solid fa-circle-plus"></i>
        </div>
        <span>Greatest Hits</span>
      </div>
    </a>

    <a routerLink="/your-playlist/songs-of-dream">
      <div class="d-flex gap-4 py-2 align-items-center">
        <div class="d-flex justify-content-center align-items-center">
          <i class="fa-solid fa-circle-plus"></i>
        </div>
        <span>Songs of dream</span>
      </div>
    </a>

  </div>
</div>

