/* You can add global styles to this file, and also import other style files */


a {
  text-decoration: none !important;
  color: darkgrey !important;
}

p {
  margin: 0 !important;
  padding: 0 !important;
}
